.container {
  /* TODO - use this trick to avoid scrolling whole page on mobile? */
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--container-background-color);
  color: #ddd;
}

@media (min-width: 850px), (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

.content,
.postersContainer {
  flex: 1;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.postersContainer {
  background-color: #1d1d1d;
  box-shadow: 0px 0 25px #000;
}

.container h1 {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
  margin-top: 10px;
}

.year {
  font-weight: 900;
}

.section {
  padding-bottom: 25px;
}

@media (min-width: 850px) {
  .container h1 {
    font-size: 32px;
  }
  .section {
    padding-bottom: 30px;
  }
  .content,
  .postersContainer {
    padding: 25px;
  }
}

.separator {
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding-bottom: 25px;
}
