.container {
  /* TODO - use this trick to avoid scrolling whole page on mobile? */
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content, .postersContainer {
  flex: 1;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 850px), (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

.summary {
  display: flex;
  flex-direction: row;
}

.summary div {
  width: 100%;
  text-align: center;
}

/* TODO - too broad */
.content > div {
  padding-bottom: 10px;
}

.container {
  background-color: #282828;
  color: #ddd;
}

.postersContainer {
  background-color: #1d1d1d;
  box-shadow: 0px 0 25px #000;
}

.controls {
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.toggleOrder, .clear {
  color: white;
}

.toggleOrder {
  transition: transform .3s;
}

.toggleOrderAsc {
  transform: rotate(0deg) translate(0, -3px);
}


.toggleOrderDesc {
  transform: rotate(180deg);
}

select {
  font-size: 16px;
}
