.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chevron {
  position: relative;
  will-change: left;
  top: 3px;
}

.row {
  margin-top: -1px;
  background-color: #000;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  flex: 1;
}
