.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chevron {
  margin-top: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000;
  position: relative;
  will-change: left;
}

.row {
  margin-top: -1px;
  background-color: #000;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  flex: 1;
}
