.footer {
  background-color: #555;
  margin: 20px -25px -25px;
  padding: 10px 10px 10px;
  text-align: center;
  color: #ddd;
}
.footer p {
  margin-bottom: 10px;
}
.footer a {
  color: #00dbff;
}

.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerIcon,
.roundedFooterIcon {
  width: 40px;
  margin-right: 10px;
}
.roundedFooterIcon {
  border-radius: 40px;
}
