* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  /* Use a gradient so this matches the background of both sides of the screen */
  background-image: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(32, 32, 32, 1) 48%,
    rgba(29, 29, 29, 1) 51%,
    rgba(29, 29, 29, 1) 100%
  );
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

select {
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  outline: none;
  margin: 0;
  padding: 0;
  color: #ddd;
}

button:hover,
button:focus {
  text-decoration: none;
}

:root {
  --border-color: #363636;
  --container-background-color: #202020;
}
