.histogram {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 130px;
  width: 100%;
  align-items: flex-end;
}

.histogram button {
  flex: 1;
  margin: 2px;
}

.histogram button div {
  border-radius: 4px;
  background-color: #994343;
}

.histogram button:hover div {
  background-color: #70161c;
}
