.histogram {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 130px;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.histogram button {
  flex: 1;
  max-width: 55px;
}

.histogram button div {
  border-radius: 4px 4px 0 0;
  margin: 0 2px;
  background-color: #994343;
  border: 1px solid #994343;
  border-width: 1px 1px 0;
}

@media (min-width: 850px) {
  .histogram button div {
    margin: 0 10px;
  }
}

.histogram button:hover div {
  background-color: #7f272a;
  border-color: #7f272a;
}

.histogram button:active div,
.histogram button.selected div {
  background-color: #70161c;
  border-color: #aaa;
}

.histogram .count {
  display: block;
  padding-bottom: 5px;
  font-size: 18px;
}

.histogram .label {
  width: 100%;
  display: block;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  font-weight: 800;
}
