.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.content, .postersContainer {
  width: 100%;
  padding: 10px;
}

.summary {
  display: flex;
  flex-direction: row;
}

.summary div {
  width: 100%;
  text-align: center;
}

.content div {
  padding-bottom: 10px;
}

.postersContainer {
  background-color: #282828;
}

.controls {
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
