.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.content, .posters {
  width: 100%;
}

.posters {
  background-color: #282828;
}

.posters img {
  width: 100px;
  height: 150px;
  margin: 5px;
  object-fit: cover;
}
