.summaryStats {
  display: flex;
  flex-direction: row;
}

.summaryStats div {
  width: 100%;
  text-align: center;
  padding: 0 5px;
}

.summaryStatButton {
  cursor: pointer;
}

.summaryStat {
  font-size: 18px;
  font-weight: 300;
}

.summaryValue {
  font-size: 24px;
  font-weight: bold;
}

.summaryDetail {
  color: #888;
}

@media (min-width: 850px) {
  .summaryStats {
    padding-bottom: 15px;
  }

  .summaryStat {
    font-size: 24px;
  }

  .summaryValue {
    font-size: 30px;
  }
}
