.summaryStats {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.summaryStats div {
  width: 100%;
  text-align: center;
}

.summaryStat {
  font-size: 24px;
  font-weight: 300;
}

.summaryValue {
  font-size: 30px;
  font-weight: bold;
}

.summaryDetail {
  color: #888;
}

.summaryStatContainer {
  cursor: pointer;
}
